  {{#each comment}}
  {{!-- {{#each comments as |comment|}} --}}
  <div class="card">
    <div class="card-body">
      <h2 class="card-title" id="{{comment.id}}"></h2>
      <p class="card-text">
        {{comment_text}}
      </p>
      <p>- {{name}} {{format_date createdAt}}</p>
      {{!-- <p>- {{name}} {{format_date comment_date}}</p> --}}
    </div>
  </div>
  {{/each}}